*__pycache__*
draft_executions.py
notes.txt
sum.py
implementation_comparison.csv
images/*
script_uci.py
results/RANKER_UCI_DATABASE/RANKER_RESULT_ANNEAL.csv
results/RANKER_UCI_DATABASE/RANKER_RESULT_CREDIT.csv
results/RANKER_UCI_DATABASE/RANKER_RESULT_HORSE.csv
results/RANKER_UCI_DATABASE/RANKER_RESULT_IRIS.csv
results/RANKER_UCI_DATABASE/RANKER_RESULT_KRKP.csv
results/RANKER_UCI_DATABASE/RANKER_RESULT_MUSHROOM.csv
results/RANKER_UCI_DATABASE/RANKER_RESULT_VOTING.csv
results/RANKER_UCI_DATABASE/RANKER_RESULT_WISCONSIN.csv
results/RANKER_UCI_DATABASE/new/group.py
results/RANKER_UCI_DATABASE/new/Hola a los dos,.txt
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_ANNEAL.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_BALANCE.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_CREDIT.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_IRIS.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_KRKP.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_MUSHROOMS.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_PIMA.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_VOTING.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_WINE.csv
results/RANKER_UCI_DATABASE/new/RANKER_RESULT_WISCONSIN.csv
results/RANKER_UCI_DATABASE/new/Resultados.csv
prueba.py
selected_features.json
features_translated/*
Fichero_resultado.csv
to_table.py
score.tex